body {
	height: 100%;
	width: 99%;
	padding-top: 20px;
    color: rgba(255, 255, 255, 0.8) !important;
    background-color: rgb(60, 60, 60) !important;
}
h3 {
	text-align: center;
}
table {
	border-collapse: separate;
	margin: 15px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
@media (max-width: 1520px) {
	table {
		width: 95%;
	}
}
td {
	font-size: 0.9em !important;
}
tbody {
	border: 1px solid black;
	border-radius: 5px;
}
.btn {
	padding: 2px 4px 2px 4px;
}
select.form-control {
	display: inline;
	width: 75px;
}
input[type=text].form-control {
	display: inline;
	width: 200px;
}
input[type=button].form-control {
	display: inline;
	width: 60px;
}
tbody.headerBody th {
	border: none !important;
}
td:first-of-type {
	width: 25%;
}
td:nth-of-type(2) {
	font-size: 0.8em !important;
}
td:last-of-type {
	width: 25%;
	font-size: 0.8em !important;
	padding: 0px;
}
tbody#onlineTable {
	background-color: rgba(10, 125, 10, 0.6);
}
tbody tr:first-of-type td:first-of-type {
	border-radius: 5px 0px 0px 0px;
}
tbody tr:first-of-type td:last-of-type {
	border-radius: 0px 5px 0px 0px;
}
tbody#offlineTable {
	background-color: rgba(200, 0, 0, 0.6);
	margin-top: 5px;
}
tbody tr:last-of-type td:first-of-type {
	border-radius: 0px 0px 0px 5px;
}
tbody tr:last-of-type td:last-of-type {
	border-radius: 0px 0px 5px 0px;
}
tbody tr:only-of-type td:first-of-type {
	border-radius: 5px 0px 0px 5px !important;
}
tbody tr:only-of-type td:last-of-type {
	border-radius: 0px 5px 5px 0px !important;
}
table td, table th {
	padding: 10px;
	text-align: center;
	border-left: 1px solid grey;
	border-top: 1px solid grey;
	font-size: 14px;
}
tr:last-of-type td {
	border-bottom: 1px solid grey;
}
table td:last-of-type, table th:last-of-type {
	border-right: 1px solid grey;
}

tr.noChannels td:first-of-type {
	border-radius: 5px 0px 0px 5px !important;
}
tr.noChannels td:last-of-type {
	border-radius: 0px 5px 5px 0px !important;
}
a {
	display: block;
	color: white;
	width: 100%;
	height: 100%;
}
a:hover {
	color: white;
	text-decoration: none;
}
tbody#onlineTable td:first-of-type:hover {
	background-color: rgba(10, 125, 10, 0.3);
}
tbody#offlineTable td:first-of-type:hover {
	background-color: rgba(200, 0, 0, 0.3);
}
.online {
	color: black !important;
}
.offline {
	color: black !important;
}